@font-face {
    src: url('../Fonts/Armour.otf');
    font-family: 'Armour';
    font-display: swap;
}

@font-face {
    src: url('../Fonts/SundayLemon.otf');
    src: url('../fonts/SundayLemon.ttf') format('truetype');
    font-family: 'SundayLemon';
    font-display: swap;
}

* {
    font-family: 'SundayLemon';
    line-height: normal !important;
}

body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #111111;
    color: #FFFFFF;
}

canvas {
    height: 100vh !important;
    width: 100vw !important;
    transition: opacity 0.2s linear;
    position: absolute;
    display: none !important;
}

[data-type="header-content"] {
    font-family: 'Armour';
}